<div class="container" style="margin: 0;">
   <h1>User Details</h1>
	<div class="col xs-12 navbar-text">
		<p>
			<strong> First Name: </strong>
			<%= @users.firstname %>
		</p>

		<p>
			<strong> Last Name: </strong>
			<%= @users.lastname %>
		</p>

		<p>
			<strong> Age: </strong>
			<%= @users.age %>
		</p>

		<p>
			<strong> E-mail: </strong>
			<%= @users.email %>
		</p>
	</div>
</div>
