<p>
	<strong> First Name: </strong>
	<%= @users.firstname %>
</p>

<p>
	<strong> Last Name: </strong>
	<%= @users.firstname %>
</p>

<p>
	<strong> Age: </strong>
	<%= @users.age %>
</p>

<p>
	<strong> E-mail: </strong>
	<%= @users.email %>
</p>